body {
  background:#101010;
}

#center_page {
  margin-right:auto;
  margin-left:auto;
  width:740px;
}

#top {
  width:750px;
  border:#c02020 2px solid;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  background:#b00505;
  padding:0px;
  margin-top:20px;
}

#dropdown {
  margin:0px;
  padding-right:0px;
  padding-left:0px;
  text-align:center;
  width:750px;
  border-right:#b00505 2px solid;
  border-left:#b00505 2px solid;
  border-top:#000000 2px solid;
  border-bottom:#000000 2px solid;
  background:#252525;
}

#dropdown td {
  margin:0px;
  padding:0px;
  text-align:left;
}

#dropdown td a {
  display:block;
  margin:0px;
  background: #252525;
  text-decoration:none;
  font-family:comic sans ms;
  font-size:16px;
  font-weight:bold;
  color:#f0f0f0;
  text-align:center;
  padding-top:3px;
  padding-bottom:3px;
  padding-right:0px;
  padding-left:0px;
  width:130px;
}

#dropdown td a:hover {
  background: #555555;
}

#dropdown div
{
  position:absolute;
  visibility:hidden;
  margin:0px;
  padding:0px;
  border-right:1px solid #000000;
  border-left:1px solid #000000;
  border-bottom:1px solid #000000;
  width:130px;
  color:#f0f0f0;
}

#dropdown div a {
  position: relative;
  display: block;
  margin:0px;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:5px;
  padding-left:5px;
  width:148px;;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
  background: #252525;
  color: #f0f0f0;
  font: 11px arial;
}

#dropdown div a:hover {
  background: #555555;
}

#bottom {
  width:750px;
  border-right:#c02020 2px solid;
  border-left:#c02020 2px solid;
  border-bottom:#c02020 2px solid;
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
  background:#f0f0f0;
  padding:0px;
  text-align:left;
}

#column1 {
  width:575px;
  border-right:#000000 2px solid;
  padding:5px;
  text-align:left;
}

#column2 {
  width:175px;
  padding:5px;
  text-align:left;
}

h1 {
  font-family:arial;
  font-size:25px;
  color:#300505;
  margin:0px;
  padding-bottom:5px;
  text-align:left;
}


h2 {
  font-family:arial;
  font-size:18px;
  color:#300505;
  margin:0px;
 padding-bottom:5px;
  text-align:left;
}

p {
  font-family:arial;
  font-size:13px;
  color:#401010;
  text-align:justify;
}

hr {
  color:#b00000;
  margin:0px;
  padding:0px;
  height:1px;
}

#bulleted_list li {
  font-family:arial;
  font-size:13px;
  color:#300505;
  margin-left:-15px;
}