/* (c)2012 Red Arrow Robotics */

#calendar {
	position: absolute;
	left: 0px;
	right: 220px;
	top: 230px;
	bottom: 0px;
}

calendar-table {
	position: absolute;
	left: 0px;
	right: 0px;
	min-width: 100%;
}

calendar-header-day {
	min-width: 14.28%;
}